rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow read, update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }
    
    match /communities/{communityId} {
      allow list, get, create: if isSignedIn();
      allow update, delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;

      match /posts/{postId} {
        allow list, get, create: if isSignedIn();
        allow update, delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;

        match /comments/{commentId} {
          allow list, get, create: if isSignedIn();
          allow update, delete: if isSignedIn() && resource.data.creatorId == request.auth.uid;
        }
      }
    }
  }
}
